section{
  background: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 15px;
  width: 500px;
  margin: auto;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.35);
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.166);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
body{
  background-color: rgb(179, 46, 41);
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
header {
  color: rgb(255, 255, 255);
  text-align: center;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.35);
}
.content{
  font-weight: bold;
  text-align: left;
  font-size: 17px;
  color:rgb(60, 60, 60);
}
